body {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}

#header {
  text-align: center;
  background-color: grey;
  margin-left: 33%;
  margin-right: 33%;
  padding-bottom: 2px;
}

#icemansArea {
  text-align: center;
  background-color: teal;
  margin-left: 5%;
  margin-right: 70%;
  padding: 2px;
}

#fatHazardsArea {
  background-color: orange;
  margin-left: 5%;
  margin-right: 70%;
  padding: 2px;
  text-align: center;
}

#IcemansM4 {
    max-width: 300px;
    text-align: center;
}
